<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main/style_main.css' %}">
    <title>Main</title>
</head>
<body>
    {% for i in data %}
        <div class="box">
            <h1>{{ i.name }}</h1>
            <a href="{{ i.get_absolute_url }}">Link</a>
        </div>
    {% endfor %}
</body>
</html>